.App {
  background-color: rgb(233, 233, 233);
  width: 100%;
  height: 100vh;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  left: 50%;
  top: 5rem;
  width: max-content;
  transform: translate(-50%, -50%);
}

label > h2 {
  font-size: 2.4rem;
  margin-bottom: .8rem;
  color: #8d86c9;
  transition: 0.35s;
  text-transform: lowercase;
}

label > h2.invalid {
  color: #f56476;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 30rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: 3px solid #8d86c9;
  background-color: #fff;
  transition: 0.35s;
}

.wrapper.invalid {
  border-color: #f56476;
  animation: shake 0.175s 0s 3;
}

.wrapper.invalid > button {
  background: #FF6B6C;
}

input {
  height: 100%;
  width: 80%;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 4rem;
}

.button {
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 3.5rem;
  height: 3.5rem; 
  background: #8994d0;
}

.button > i {
  color: #fff;
}

.button > h3 {
  color: #fff;
}

@keyframes shake {
  0% { transform: translateX(0);}
  25% { transform: translateX(0.5rem);}
  75% { transform: translateX(-0.5rem);}
  100% { transform: translateX(0);}
}
